@charset "UTF-8";

:root {
    /* colors  */
    --color-primary: rgba(239, 178, 16, 1);
    --color-secundary: rgba(255, 255, 255, 1);
  
    --border-color: rgba(239, 178, 16, 0.49);

    /* background colors */
    --background-color-primary: rgba(0, 0, 0, 0.3);
    --background-color-secondary: rgba(0, 0, 0, 0.785);

    /* fonts */

    --text: "cardo", sans-serif;

    /* header */

    /* text size */
    --upper: uppercase;

    /* spaces */
    --padding-value: 70px;
    
    /* box size */

    /* edges */

    /* others */
    --border-radius: 2px;

    /* z-index */
}

@font-face {
    font-family: 'cardo';
    src: url('/Assets/fonts/cardo/Cardo-Regular.ttf');
}
