@charset "UTF-8";

.l-header {
    max-width: 100vw;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 60px;

    color: var(--color-primary);
}

.l-header__main-title {
    font-size: var(--header__title--size);
    font-family: var(--header__title);
    text-transform: var(--upper);
    letter-spacing: 2px;
}

.l-header__main-title span {
    font-family: var(--header__title-letter);
}

.l-navbar__list {
    display: flex;

    font-size: var(--list__item--size);
    font-family: var(--list__item);
    text-transform: var(--upper);
    letter-spacing: 1px;
}

.list__link {
    padding: 10px 20px;
    position: relative;
}

.list__item + .list__item {
    margin-left: 5px;
}
