@charset "UTF-8";

.l-home {
    height: 84.2vh;

    padding-top: 20px;

    color: var(--color-secundary);
}

.home-container__info {
    height: 450px;
}   

.text-container__container {
    margin-bottom: 50px;
}

.container__text {
    font-family: var(--text);
    font-size: 1.9em;
    letter-spacing: 1px;
}

.container__text-1 {
    margin-bottom: 5px;

    font-size: 1.1em;
    letter-spacing: .5px;
}

.container__text-2 {
    margin-bottom: 5px;
}

.container__explore-button {
    font-size: 1em;
}

.info__slide-container {
    width: 750px;
}

.control {
    background-color: transparent;
}

.slide-container__slide {
    width: var(--slide-width-size);
    height: var(--slide-height-size);

    overflow: hidden;
    position: relative;

    border: 1px solid var(--border-color);
}

.slide__list {
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
}

.list__slide-item {
    width: var(--slide-width-size);
    height: var(--slide-height-size);

    position: relative;
}

.slide-container__slide-control:hover .hover-slide-container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.726);
}

.hover-slide-container__button {
    width: 100px;
    height: 40px;

    font-size: 1em;
    font-family: var(--text);
}

.hover-slide-container__button + .hover-slide-container__button {
    margin-left: 20px;
}

.button-control__counter-control {
    margin-top: 10px;

    display: flex;
    justify-content: center;
}

.counter-control__count {
    width: 7px;
    height: 7px;

    border-radius: 50%;

    background-color: var(--color-secundary);
}

.counter-control__count + .counter-control__count {
    margin-left: 5px;
}

.button-control__right-control {
    transform: rotate(180deg);
}

.home-container__social-media {
    margin-top: 15px;
}

.social-container__list {
    width: 150px;
}

.social-media__work-toguether {
    margin-right: 20px;

    display: flex;
    align-items: center;

    font-size: 1.2em;
    font-family: var(--text);
}

.social-media__work-toguether:hover {
    border-bottom: 1px solid var(--color-secundary);
}

.container__text-2 > span, .container__text-3 > span {
    color: var(--color-primary);
}

.social-container__list a {
    padding: 5px;
    display: flex;
}

.list__slide-item > img {
    width: inherit;
    height: inherit;
}

.social-media__work-toguether a {
    display: flex;
}

.control > svg {
    width: 40px;
}

.social-media__work-toguether svg {
    width: 20px;
    margin-right: 5px;
}

svg {
    width: 30px;
    fill: white;
}
