@charset "UTF-8";

.l-home {
    height: 85vh;

    padding-top: 20px;

    color: white;
    /* background-color: red; */
}

.l-home__home-container {
    /* background-color: blue; */
}

.home-container__info {
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}

.info__text-container {
    /* background-color: aqua; */
}

.text-container__container {
    /* background-color: aliceblue; */
    margin-bottom: 50px;
}

.container__text {
    font-family: var(--text);
    font-size: 1.9em;
    letter-spacing: 1px;
}

.container__text-1 {
    font-size: 1.1em;
    margin-bottom: 5px;
    letter-spacing: .5px;
}

.container__text-2 {
    margin-bottom: 5px;
}

.container__text-3 {
}

.container__explore-button {   
    cursor: pointer;
}

.container__text-2 > span, .container__text-3 > span {
    color: var(--color-primary);
}

.info__slide-container {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: red; */
}

.control {
    cursor: pointer;
    background-color: transparent;
}

.control > svg {
    width: 40px;
}

.button-control__left-control {
    
}

.slide-container__slide {
    width: var(--slide-width-size);
    height: var(--slide-height-size);

    overflow: hidden;

    border: 1px solid var(--border-color);
}

.slide__list {
    height: 100%;
    
    display: flex;
}

.list__slide-item {
    width: var(--slide-width-size);
    height: var(--slide-height-size);
}

.list__slide-item > img {
    width: inherit;
    height: inherit;
}

.button-control__counter-control {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.counter-control__count {
    width: 7px;
    height: 7px;

    border-radius: 50%;

    background-color: white;
}

.counter-control__count + .counter-control__count {
    margin-left: 5px;
}


.button-control__right-control {
    transform: rotate(180deg);
}

.home-container__social-media {
    display: flex;
    justify-content: space-between;

    /* background-color: cadetblue; */
}

.social-media__social-container {

}

.social-container__list {
    display: flex;
}

.social-media__work-toguether {
    /* background-color: crimson; */
    
} 

svg {
    width: 30px;
    fill: white;
}
